.conversion {
  display: none;
}

@media (min-width: 1000px) {
  .container {
    height: 870px;
  }
  .conversion {
    display: flex;
    background-color: #100e1d;
    justify-content: flex-end;
    padding: 1rem 11rem;
    gap: 2rem;
    width: 100%;
  }
  .conversion button {
    display: block;
    color: #e7e7eb;
    background-color: #585676;
    border: none;
    padding: 0.5rem;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
  }
  .conversion .active {
    background: #e7e7eb;
    color: #110e3c;
  }
}
